/**
 * google-material-color v1.1.0
 * https://github.com/danlevan/google-material-color
 */
#message-bank, .message-card, .logic-card-content, .add-card-button, .hide-card-button, .delete-card-button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.message-card:hover, .add-card-button:hover, .hide-card-button:hover, .delete-card-button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
  background-color: #ececec;
  font-size: 13px;
  color: #333333;
  overflow: hidden; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

[contenteditable=true] {
  border: 1px dotted gray;
  word-wrap: normal;
  max-width: 100%;
  white-space: pre; }

.fa {
  color: white; }

.hide {
  visibility: hidden;
  display: none; }
  .hide > * {
    display: none; }

#editor-page {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

#message-bank {
  background-color: #4285f4;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 20px;
  height: 100%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  overflow: scroll;
  white-space: normal; }

#searchbar {
  width: 300px;
  height: 30px; }

.message-card {
  width: 300px;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  border-radius: 3px; }

#tree-display {
  padding: 20px;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  overflow: scroll; }
  #tree-display:hover {
    cursor: -webkit-grab;
    cursor: grab; }
  #tree-display:active {
    cursor: -webkit-grabbing;
    cursor: grabbing; }

.logic-card {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  background-color: white; }

.logic-card-content {
  padding: 15px; }
  .logic-card-content > [contenteditable] {
    white-space: pre-wrap; }

.add-card-button, .hide-card-button, .delete-card-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #4285f4;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px; }
  .add-card-button:hover, .hide-card-button:hover, .delete-card-button:hover {
    cursor: pointer; }

.card-buttons-container {
  margin-left: auto;
  text-align: right;
  width: 100%;
  margin-top: 15px;
  display: inline-block; }

.add-card-button, .hide-card-button, .delete-card-button {
  float: right;
  margin-left: 10px; }

.hide-card-button {
  background-color: #6d4c41; }

.delete-card-button {
  background-color: #d23f31;
  float: left;
  margin-left: 0; }
