@charset "UTF-8";
/**
 * google-material-color v1.1.0
 * https://github.com/danlevan/google-material-color
 */
.bt-menu:active {
  box-shadow: none !important; }

#message-bank, .bt-menu:hover, .message-card, .logic-card-content, .add-card-button, .hide-card-button, .delete-card-button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.message-card:hover, .add-card-button:hover, .hide-card-button:hover, .delete-card-button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
  background-color: #ececec;
  font-size: 13px;
  color: #333333;
  overflow: hidden; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

[contenteditable=true] {
  border: 1px dotted gray;
  word-wrap: normal;
  max-width: 100%;
  white-space: pre; }

.fa {
  color: white; }

.hide {
  visibility: hidden;
  display: none; }
  .hide > * {
    display: none; }

#editor-page {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

#message-bank {
  background-color: #4285f4;
  position: absolute;
  z-index: 999;
  padding: 20px;
  height: 100%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  overflow-y: scroll;
  white-space: normal; }

#message-bank::-webkit-scrollbar {
  width: 5px; }

#message-bank::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 5px; }

#message-bank::-webkit-scrollbar-thumb {
  box-shadow: none;
  border-radius: 5px;
  background-color: white; }

#button-storage {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: #4285f4;
  z-index: 999999; }

.bt-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin-right: 10px;
  font-size: 24px; }
  .bt-menu:hover {
    cursor: pointer; }

​
#searchbar {
  width: 300px;
  height: 30px;
  width: 100%; }

.message-card {
  width: 300px;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  border-radius: 3px; }

#tree-screen {
  width: 100%;
  height: 100%;
  position: absolute; }

#tree-display {
  background-color: red;
  width: 100%;
  height: 100%;
  transition: all 100ms linear;
  -webkit-backface-visibility: initial !important;
  -webkit-transform-origin: 50% 50%; }
  #tree-display::-webkit-scrollbar {
    width: 0px;
    height: 0px; }

.logic-card {
  width: 300px;
  position: absolute;
  background-color: white;
  margin-left: 300px; }

.logic-card-content {
  padding: 15px; }
  .logic-card-content > [contenteditable] {
    white-space: pre-wrap; }

.add-card-button, .hide-card-button, .delete-card-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #4285f4;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px; }
  .add-card-button:hover, .hide-card-button:hover, .delete-card-button:hover {
    cursor: pointer; }

.card-buttons-container {
  margin-left: auto;
  text-align: right;
  width: 100%;
  margin-top: 15px;
  display: inline-block; }

.add-card-button, .hide-card-button, .delete-card-button {
  float: right;
  margin-left: 10px; }

.hide-card-button {
  background-color: #6d4c41; }

.delete-card-button {
  background-color: #d23f31;
  float: left;
  margin-left: 0; }
