$sidebar-content: 300px;

#message-bank {
  background-color: $blue;
  width: min-content;
  padding: 20px;
  height: 100%;
  flex-shrink: 0;
  overflow: scroll;
  white-space: normal;
  @extend %sh1;
}

#searchbar {
  width: $sidebar-content;
  height: 30px;
}

.message-card {
  width: $sidebar-content;
  @extend %sh1;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  border-radius: 3px;

  &:hover {
    @extend %sh2;
  }
}
