#tree-display {
  // background-color: red;
  height: 100%;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding: 20px;
}

.logic-card-block {
  // width: min-content;
  margin-bottom: 20px;
  // background-color: yellow;
  // display: flex;
}

.tree-new-level {
  // background-color: red;
  width: min-content;
  height: min-content;

  margin-left: 20px;
}

.logic-card {

  width: 300px;
  padding: 20px;
  box-sizing: content-box;
  @extend %sh1;

  height: min-content;

  // padding-bottom: 80px;

  & > [contenteditable] {
    margin-bottom: 10px;
  }
}

$add-card-size: 50px;

%add-card {
  margin-left: auto;

  width: $add-card-size;
  height: $add-card-size;
  border-radius: $add-card-size / 2;
  @extend %sh1;

  background-color: palette(Blue, 100);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  color: black;

  &:hover {
    @extend %sh2;
    cursor: pointer;
  }
}

.add-card-right {
  @extend %add-card;
}
