#tree-screen {
  width: 100%;
  height: 100%;
  position: absolute;
}

$big-screen: 300px;

#tree-display {
  -webkit-backface-visibility: initial !important;
  -webkit-transform-origin: 50% 50%;
}

.logic-card {
  @extend %sh1;
  width: 300px;
  height: 300px;
  position: absolute;
  background-color: white;
}

.logic-card-content {
  padding: 15px;

  & > [contenteditable] {
    white-space: pre-wrap;
  }
}

%source-sink {
  width: 100%;
  position: absolute;
  left: 0;
  height: 10px;
}

.lc-source {
  @extend %source-sink;
  bottom: 0;
  background-color: red;

}

.lc-sink {
  @extend %source-sink;
  top: 0;
  background-color: green;

}

$card-button-size: 40px;

%card-button {

  width: $card-button-size;
  height: $card-button-size;
  border-radius: $card-button-size / 2;
  @extend %sh1;

  background-color: $blue;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;

  &:hover {
    @extend %sh2;
    cursor: pointer;
  }
}

.card-buttons-container {
  margin-left: auto;
  text-align: right;
  width: 100%;
  margin-top: 15px;

  display: inline-block;

}

.add-card-button, .hide-card-button, .delete-card-button {
  float: right;
  @extend %card-button;
  margin-left: 10px;
}

.hide-card-button {
  background-color: $brown;
}

.delete-card-button {
  background-color: $red;
  float: left;
  margin-left: 0;
}
