*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
  background-color: #ececec;
  font-size: 13px;
  color: lighten(black, 20%);

  overflow: hidden;
}

ul {
  padding-left: 20px;
  margin: 0;
}

[contenteditable=true] {
  border: 1px dotted gray;
  word-wrap: normal;
  max-width: 100%;
  white-space: pre;
}

.fa {
  color: white;
}
