$card-button-size: 40px;
$card-radius: 5px;

.logic-card {
  border-radius: $card-radius;

  width: 300px;
  min-height: 100px;
  position: absolute;
  background-color: white;

  padding: 10px;
  padding-bottom: $card-button-size;

  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

$card-padding: -7px;
.logic-card-wrapper {
  @extend %sh1;
  position: absolute;

  top: $card-padding;
  right: $card-padding;
  left: $card-padding;
  bottom: $card-padding;

  z-index: -1;
  background-color: $primary;
  border-radius: $card-radius;
}

.card-info-field {
  padding-top: 10px;
  
  & > .card-info-title {
    opacity: 0.5;    
  }
}

// Button styling.
.card-buttons-container {

  clear: both; /*may be omitted*/
  position: absolute;
  bottom: 0;
  left: 0; 
  width: 100%;
  height: $card-button-size; /* or anything you like */

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-button {
  width: $card-button-size;
  height: $card-button-size;
  border-radius: $card-button-size / 2;

  display: flex;
  align-items: center;
  justify-content: center;

  & > .fa {
    font-size: 24px;
    color: $primary;  
  }

  &:hover {
    @extend %sh2;
    cursor: pointer;
  }
}
